
  @import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Hammersmith+One&family=Parisienne&family=Red+Hat+Display&family=Suwannaphum:wght@900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Alkatra';
}
/* header*/
#main{
  
    background: rgb(36, 35, 35);
    border-radius: 5px;
    margin:  2px 70px;
    display: flex;
    align-items: center;
     justify-content: center;
     height: 100px;
   
   
}
#main .logo{
    text-decoration: none;
    letter-spacing: 5px;
    color: beige;
    font-size: 30px;
    font-weight: 900;
}


.navbar a{
    
    color: beige;
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px ;
    font-weight: 600;
    letter-spacing: 2px;
    

}
/*About---------*/
#about{
   margin:  10px 70px; 
    background: rgb(38, 38, 38);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}
#about a{
    text-decoration: none;
    background: rgb(122, 112, 112) ;
    color: black;
    height: 40px;
    width: 150px;
    text-align: center;
    border-radius: 60px;
    border: 2px solid black;
    padding: 10px;
   margin: 30px ;
   font-weight: 700;
}
.abt{
    display: flex;
    justify-content: space-around;
    
}
#about h5{
   color: rgb(122, 112, 112);
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 8px;
   margin: 35px 50px;
}

.about-me {
    background: rgb(170, 170, 170);
   /* width: 500px;*/
   width: 45%;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    /*margin-left: 50px; */
    line-height: 40px;
    
}
.about-me h1{
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 4px;
}
.about-me h2{
    font-size: 20px;
    font-weight: 800;
}
.about-me p{
    color: rgb(117, 65, 65);
    
}

.education{
   
   /*margin-left: 50px;*/
    background: rgb(170, 170, 170);
    /*width: 500px; */
    width: 45%;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    line-height: 37px;
  
}
.education  h1{
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 2px;
    padding-bottom: 10px;
}
.education-content{
    color: rgb(117, 65, 65) ;
}
.education-content h4{
    letter-spacing: 5px;
}

/*Skills ------------*/

#skills{
    margin:  10px 70px; 
    border-radius: 5px;
    background: rgb(235, 232, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
   padding:35px;
   
}
#skills h5{
    color: rgb(59, 59, 59);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 8px;
    margin: 35px 50px;
    
}
#skills .icons{
    background: rgb(37, 37, 37);
    
    border-radius: 5px ;
    /*padding: 41px;*/
    margin-bottom: 15px;
   width: 100%;

}
.skill1{
    
    text-align: center;
}
#skills .icons .bx {
    font-size: 50px;
    background: rgb(175, 175, 169);
    padding: 10px;
    margin: 15px;
    border-radius: 30px;
    border: 1px solid black;
}

.skill2{
   /* margin: 50px;*/
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.skill2 span{
    font-size: 50px;
    background: rgb(175, 175, 169);
    padding: 10px;
    margin: 2%;
    border-radius: 30px;
    border: 1px solid black;
    
}
/*Projects------------------------*/

#project{
    margin:  10px 70px; 
    background: rgb(38, 38, 38);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#project h5{
    color: rgb(122, 112, 112);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 8px;
    margin: 35px 50px;
}
.projects {
    display: flex;
    padding: 20px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.card1 {
    padding: 10px;
    background: white;
    width: 30%;
    height: 90%;
    text-align: center;
    margin: 20px;
    border: 2px solid green;
    border-radius: 10px;
}
.card1 img{
  /*  padding: 3px 50px; */
    width: 60%;
    border: 2px solid green;
    border-radius: 2px;
    object-fit: fill;
    
}
.card1 .description{
   padding: 20px;
}
.card1 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    background: green;
    padding: 5px;
    
    
    border-radius: 10px;
    border: 2px solid black;
}
.card2 {
    padding: 10px;
    background: white;
    width: 30%;
    height: 90%;
    text-align: center;
    margin: 20px;
    border: 2px solid green;
    border-radius: 10px;}

.card2 img{
    width: 60%;
    border: 2px solid green;
    border-radius: 2px;
    object-fit: fill;
    
}
.card2 .description{
    padding: 20px;
}
.card2 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    background: green;
    padding: 5px;
    
    
    border-radius: 10px;
    border: 2px solid black;

}

.card3 {
    padding: 10px;
    background: white;
    width: 30%;
    height: 90%;
    text-align: center;
    margin: 20px;
    border: 2px solid green;
    border-radius: 10px;
}
.card3 img{
    border: 2px solid green;
    border-radius: 2px;
    object-fit: fill;
    width: 43%;
    
    
}
.card3 .description{
    padding: 20px;
}
.card3 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    background: green;
    padding: 5px;
    
    
    border-radius: 10px;
    border: 2px solid black;

}
.more-projects{
    color: green;
    margin-left: 150px;
    font-size: 20px;
   
}
.more-projects a{
    color: orange;
    font-size: 16px;
    letter-spacing: 5px;
    text-decoration: none;
    
}

/*blogs----------*/

#blogs{
   padding: 10px;
    margin:  10px 70px; 
    border-radius: 5px;
    background: rgb(20, 20, 20);
}

#blogs h5{
    color: rgb(75, 72, 72);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 8px;
    margin: 35px 50px;
}

.blog{
    display: flex;
    flex-direction: column;
    
    
    width: 100%;
    
}

.blog1{
    color: beige;
    background: rgb(60, 96, 97);
    width: 90%;
    margin-bottom: 10px;
    border-radius: 5px ;
    border: 2px solid rgb(5, 5, 70);;
    padding: 20px;
}
.blog1 h1{
    color: rgb(5, 5, 70);
}
.blog1 p{
    color: black;
    font-weight: 600;
    margin: 10px;
}
.blog1 a{
    text-decoration: none;
    color: black;
    background: rgb(38, 38, 153);
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.blog2{
    color: beige;
    background: rgb(60, 96, 97);
    width: 90%;
    margin-bottom: 10px;
    border-radius: 5px ;
    border: 2px solid rgb(5, 5, 70);;
    padding: 20px;
}
.blog2 h1{
    color: rgb(5, 5, 70);
}
.blog2 p{
    color: black;
    font-weight: 600;
    margin: 10px;
}
.blog2 a{
    text-decoration: none;
    color: black;
    background:rgb(38, 38, 153);
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.blog3{
    color: beige;
    background: rgb(60, 96, 97);
    width: 90%;
    margin-bottom: 10px;
    border-radius: 5px ;
    border: 2px solid rgb(5, 5, 70);;
    padding: 20px;
}
.blog3 h1{
    color: rgb(5, 5, 70);
}
.blog3 p{
    color: black;
    font-weight: 600;
    margin: 10px;
}
.blog3 a{
    text-decoration: none;
    color: black;
    background: rgb(38, 38, 153);
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

/*connect---------*/

#contact{
    padding: 10px;
    margin:  10px 70px; 
    background: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
    
}
.contacts{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.contacts a{
   text-decoration: none;
   font-size: 20px;
   font-weight: 700;
   color: rgb(85, 6, 6);

}




.contacts img{

    height: 100px;
    width:100px ;
    border: 5px solid red;
    border-radius: 50px;
} 
#contact p{
    font-size: 20px;
    font-weight: 800;
    margin-left: 100px;
}

.up{
    position: fixed;
    bottom: 2%;
    right: 0.9%;
    font-size: 80px;
    color: rgb(219, 131, 15);
   
}


/*responsive------*/

@media screen and (max-width: 758px) {

    #main{
        margin: 5px 50px;
    }
    #about{
        margin: 5px 50px;
    }
     #skills{
        margin: 5px 50px;
     }
     #project{
        margin: 5px 50px;
     }
     #blogs{
        margin: 5px 50px;
     }
     #contact{
        margin: 5px 50px;
     }
    .abt{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }

    .about-me{
        width: 85%;
        margin-bottom: 5%;
    }

    .education{
        width: 85%;
    }
     
    .projects {
        display: flex;
        flex-direction: column;
    }
     
    .card1{
            width: 88%;
    }
    .card2{
        width: 88%;
    }
    .card3{
        width: 88%;
    }
      

    .contacts img{

        height: 50px;
        width:50px ;
      
        border-radius: 50px;
    }
      

    .skill1{
       width: 90%;
    }
    .skill2{
       width: 90%;
      
    }
    #skills .icons .bx{
       font-size: 35px;
    }
    .skill2 span {
      font-size: 35px;
    }
    .more-projects a{
       
        letter-spacing: 1px;
       
        
    }
  }
/* tablet*/
  @media screen and (max-width: 499px) {
    
   
    #main{
        margin: 6px 20px;
    }


    #main{
        height: 90%;
       
    }
    .navbar{
        display: flex;
        flex-direction: column;
       
    }
    .navbar a{
       
        line-height: 70px;
        border-bottom: 2px solid rgb(13, 14, 13);
       
    }



    #about{
        margin:  6px 20px;
    }
     #skills{
        margin:  6px 20px;
     }
     #project{
        margin:  6px 20px;
     }
     #blogs{
        margin:  6px 20px;
     }
     #contact{
        margin:  6px 20px;
     }
     .up{
       
        font-size: 40px;
       
       
    }
}
    /*phone---*/
@media screen and (max-width: 370px) {
   

    #main{
        height: 90%;
       
    }
    .navbar{
        display: flex;
        flex-direction: column;
       
    }
    .navbar a{
       
        line-height: 70px;
        border-bottom: 2px solid rgb(13, 14, 13);
       
    }
    .contacts img{

        height: 40px;
        width:40px ;
        border: 2.5px solid red;
        border-radius: 50px;
        margin-left: 3px;
    }
    .contacts a h6{
        font-size: 8px;
    }

    .about-me h1{
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 4px;
    }
    .about-me h2{
        font-size: 15px;
        font-weight: 800;
    }
    .about-me p{
        font-size: 10px;
        line-height: 15px;
    }
    .education{
        padding: 12px;
    }
    .education h1{
        font-size: 20px;
        
        letter-spacing: 4px;
    }
    .education-content h4 {
        letter-spacing: 2px;
        font-size: 14px;
        
    }
    .education-content span{
        font-size: 10px;
    }
    #skills{
        padding: 6px;
    }
    .skill1 p{
        font-size: 15px;
    }
    .skill2 span{
        font-size: 15px;
    }













    .projects {
       
        padding: 10px;
        
    }
    .card1 {
       
        margin: 10px;
        
    }
    .card1 img{
      /*  padding: 3px 50px; */
        width: 50%;
       
        
    }
    .card1 .description{
       padding: 10px;
    }
    .card1 a{
      
        font-size: 15px;
    }
    .card1 span{
        font-size: 12px;
    } 
    .card2 {
       
        margin: 10px;
        
    }
    .card2 img{
      /*  padding: 3px 50px; */
        width: 50%;
       
        
    }
    .card2 .description{
       padding: 10px;
    }
    .card2 a{
      
        font-size: 15px;
    }
    .card2 span{
        font-size: 12px;
    }



    .card3 {
       
        margin: 10px;
        
    }
    .card3 img{
      /*  padding: 3px 50px; */
        width: 50%;
       
        
    }
    .card3 .description{
       padding: 10px;
    }
    .card3 a{
      
        font-size: 15px;
    }
    .card3 span{
        font-size: 12px;
    }


    .more-projects{
       
        margin-left: 50px;
        font-size: 15px;
       
    }
    .more-projects a{
      
        font-size: 13px;
        letter-spacing: 3px;
       
        
    }


    .blog1{
        
        width: 95%;
        margin-bottom: 10px;
       
        padding: 10px;
    }
   
    .blog1 p{
        font-size: 13px;
        font-weight: 600;
        margin: 5px;
    }
   
    .blog2{
        
        width: 95%;
        margin-bottom: 10px;
       
        padding: 10px;
    }
   
    .blog2 p{
        font-size: 13px;
        font-weight: 600;
        margin: 5px;
    }
    .blog3{
        
        width: 95%;
        margin-bottom: 10px;
       
        padding: 10px;
    }
   
    .blog3 p{
        font-size: 13px;
        font-weight: 600;
        margin: 5px;
    }
}